# venv & caches
.venv/
__pycache__/
*.pyc
.pytest_cache/
# editors
.vscode/
.idea/
# local MLflow + DBs/artifacts
mlruns/
mlflow.db
*.db
*.sqlite
# dist/build
dist/
build/
# OS junk
.DS_Store
Thumbs.db
# env files
.env
.env.*
